html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Playfair Display', serif;
    overflow-y: hidden;
}

body {
    background-color: black;
    color: #ffffff;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-panel {
    padding-top: 1.5rem;
    padding-left: 1rem;
    flex: 4;
}

.left-panel > .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 3rem;
    font-variant: small-caps;
    color: #dc005d;
}

.title > span:nth-child(1) {
    font-weight:700;
}

.title > span:nth-child(2) {
    font-weight:300;
}

.select-a-circle {
    padding: 1rem 0;
    font-size:2rem;
    color: #dc005d;
}

.circle-data {
    color: #e6cd63;
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', monospace;
}

.legend-sep {
    width: 2rem;
}

.legend-title {
    padding: 1rem 0;
    font-size:2rem;
    color: #dc005d;
}

#circle-size-legend {
    padding-bottom: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}

#circle-color-legend {
    font-family: 'IBM Plex Mono', monospace;
}

#circle-size-legend div {
    display: inline-block;
}

#circle-color-legend div {
    display: inline-block;
}

#small-circle-legend, #big-circle-legend, #blue-circle-legend, #purple-circle-legend {
    width: 1rem;
    text-align: center;
}

.circle-data div {
    padding-bottom: 0.2rem;
}

.fun-time {
    padding-top: 1rem;
    font-size: 1.15rem;
    width:90%;
    font-family: 'IBM Plex Mono', monospace;
}

.logo-container {
    padding-top: 1rem;
    width: 90%;
}

.logo-container img {
    width: 35%;
}

.smallprint {
    padding-top:2rem;
    font-size: 1rem;
}

.smallprint > a {
    text-decoration: none;
    color: white;
}

.content-bottom {
    padding-bottom: 1rem;
}

.middle-panel {
    background-color: #000000;
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.right-panel {
    flex: 4;
}

.visualization-panel {
    flex: 1;
}

.gradient-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gradient-container > .gradient-panel {
    flex: 1;
    height: 100%;
}

.gradient-container > .gradient-separator {
    flex: 3;
}

.gradient-container > .gradient-legend {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 1rem 0;
}

.legend-container {
    padding-right: 0.25rem;
}

.legend-description {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
}

